coverage:
  image: debian:13-slim
  stage: test
  before_script:
    - apt-get update && apt-get -y upgrade
    - apt-get install -y catch2 cmake g++-14 lcov libsqlite3-dev pkg-config
  script:
    # build
    - export CXX=g++-14
    - export CC=gcc-14
    - mkdir build-coverage
    - cd build-coverage
    - cmake -DCODE_COVERAGE=ON ../
    - make -j4
    # tests
    - ctest -V
    # collect code coverage data
    - lcov -c --directory . --ignore-errors inconsistent,inconsistent --output-file main_coverage.info
    - lcov --remove main_coverage.info '/usr/include/*' '*tests/*' '*third-party/*' -o main_coverage_filtered.info
    - genhtml main_coverage_filtered.info --output-directory ../public
  coverage: /^[\t ]*lines\.*:\s*\d+.\d+\%/
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHA}
    expire_in: 2 days
    paths:
      - public

fedora:
  image: fedora:42
  stage: test
  before_script:
    - yum update -y
    - yum install -y catch-devel cmake gcc-c++ git pkgconfig sqlite-devel
  script:
    - export CXX=g++
    - export CC=gcc
    # build without SQLite support
    - mkdir build-no-sqlite
    - cd build-no-sqlite
    - cmake ../ -DNO_SQLITE=ON
    - make -j4
    # tests
    - ctest -V
    - cd ..
    # build with bundled SQLite version
    - mkdir build-bundled
    - cd build-bundled
    - cmake ../ -DUSE_BUNDLED_SQLITE=ON -DENABLE_LTO=ON
    - make -j4
    # tests
    - ctest -V
    - cd ..
    # normal build with SQLite support
    - mkdir build
    - cd build
    - cmake ../
    - make -j4
    # tests
    - ctest -V

pages:
  image: debian:13-slim
  stage: deploy
  needs: ["coverage"]
  dependencies:
  - coverage
  script:
    - ls -l
  artifacts:
    paths:
      - public

package_debian:
  image: debian:13-slim
  stage: build
  before_script:
    - ./ci/01-install-dependencies.sh
  script:
    - ./ci/02-create-package.sh
  only:
    - tags
  artifacts:
    paths:
      - "thermos*.deb"
