name: Clang

on: push

jobs:
  clang:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version: [15, 16, 17, 18, 19]
      fail-fast: false
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Debian packages
        run: |
          sudo apt-get update
          sudo apt-get install -y catch cmake clang-${{ matrix.version }} libsqlite3-dev pkg-config
      - name: Install Clang's standard C++ library
        run: |
          sudo apt-get install -y libc++-${{ matrix.version }}-dev
      - name: Build with Clang ${{ matrix.version }}
        run: |
          export CXX=clang++-${{ matrix.version }}
          export CC=clang-${{ matrix.version }}
          cd $GITHUB_WORKSPACE
          mkdir build
          cd build
          cmake ../
          make -j2
      - name: Tests
        run: |
          cd "$GITHUB_WORKSPACE"/build
          ctest -V
      - name: Build with Clang ${{ matrix.version }} - no SQLite
        run: |
          export CXX=clang++-${{ matrix.version }}
          export CC=clang-${{ matrix.version }}
          cd $GITHUB_WORKSPACE
          mkdir build-no-sqlite
          cd build-no-sqlite
          cmake ../ -DNO_SQLITE=ON
          make -j2
      - name: Tests - no SQLite
        run: |
          cd "$GITHUB_WORKSPACE"/build-no-sqlite
          ctest -V
      - name: Build with Clang ${{ matrix.version }} - static linking
        run: |
          export CXX=clang++-${{ matrix.version }}
          export CC=clang-${{ matrix.version }}
          cd $GITHUB_WORKSPACE
          ./build-static.sh
        # Only do static build on latest version in the matrix.
        if: matrix.version == 18
      - name: Build with Clang ${{ matrix.version }} - bundled SQLite
        run: |
          export CXX=clang++-${{ matrix.version }}
          export CC=clang-${{ matrix.version }}
          cd $GITHUB_WORKSPACE
          mkdir build-bundled
          cd build-bundled
          cmake ../ -DUSE_BUNDLED_SQLITE=ON -DENABLE_LTO=ON
          make -j2
        if: matrix.version == 17
      - name: Tests - bundled SQLite
        run: |
          cd "$GITHUB_WORKSPACE"/build-bundled
          ctest -V
        if: matrix.version == 17
